[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
# Formatting
flake8 = "*"
black = "*"
# Testing
tox = "*"
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
pytest-sugar = "*"
mypy = "*"
# Coverage
coverage = "*"
# Tools
pre-commit = "*"
invoke = "*"
m2r = "*"
twine = "*"
bump2version = "*"
